/* 
* @Author: anchen
* @Date:   2018-06-17 13:13:11
* @Last Modified by:   anchen
* @Last Modified time: 2018-06-18 20:26:10
*/
/*标题栏*/
body,html{height:100%;-webkit-tap-highlight-color:transparent}
.bk_title_bar{
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 1.5em;
}
.bk_back,.bk_meun{
    position: absolute;
    color: black;
    width: 30px;
    height: 30px;
    top:10px;
}
.bk_back{
    left: 10px;
}
.bk_meun{
    right: 10px;
}
.bk_title {
  font-size: 18px;
  color: #000;
}
.bk_title_content{
    position: absolute;
    left: 50px;
    right: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
}
.bk_preview{
    width: 90px;
    height: 90px;
    margin-right:10px; 
}
.bk_font_color{
    color: #333333;
    font-size:16px;
}

.bk_font_size{
    font-size: 12px;
}
.bk_font_color1{
    color: red;
    margin-right:30px;  
}
.bk_summary {
  font-size: 12px;
  color: #888;
}
.bk_float{
    margin-bottom: 10px;
}
.bk_left{
    float: left;
}
.bk_right{
    float: right;
    width: 16em;
    margin-right:30px; 
}
.bk_padding{
    margin: 10px 5px;
}
section{
  position:absolute;
  top:50px;
  right:0;
  bottom:0;
  left:0;
  overflow:auto;
}
body,html{
    height: 100%;
    overflow: hidden;
}

.bk_toptips {display: none; position: absolute; bottom: 50px; text-align: center; width: 100%; }
.bk_toptips span {background: #444444; color: #ffffff; padding: 5px 10px; border-radius: 5px; opacity: 0.9;}

.bk_bottom_tips {display: block; padding: 20px 0; width: 100%; text-align: center;}